/* add code here */

/* add code here */

h1 {
  color: red;
}

#header h1 {
  color: green;
  text-decoration: underline green;
  padding: 5px;
}

p {
  text-decoration: underline;
  font-size: 25px;
  font-style: italic;
  color: purple;
}
